{% extends 'base.html' %}


{% block title %}All Cards{% endblock %}

{% block body %}
    <div id="three_card_container">
        <img id="img" src="static/back_of_cards.jpg" width="300" height="400">
        <h1>{{ card1 }}</h1>
        <img id="img" src="{{ card1_image }}" width="300" height="400">
        <h1>{{ card2 }}</h1>
        <h1>{{ card3 }}</h1>
        

      
      </div>
    <div id ="save_reading">
      <a href="/get_cards_function/<int:reading_id>">Save Your Reading</a>
    </div>
<script src="static/stuff.js"></script>
{% endblock %}
