<script src="javascript_cards.js"></script>
<style src="style.css"></style>
{% extends 'base.html' %}


{% block title %}All Cards{% endblock %}

{% block body %}
<div style="overflow-x:auto;">
  <table>
    <div id="three_card_container">
      <tr>
        <p>Past</p>
        <img src="{{ img_name1 }}" alt="{{ card1 }}" id="{{ orient_the_card1 }}" style="width:300px;height:400px;">
        <p>{{ card1 }}</p>
        <p>{{ card1desc }}</p>
        <p>Present</p>
        <img src="{{ img_name2 }}" alt="{{ card2 }}" id="{{ orient_the_card2 }}" style="width:300px;height:400px;">
        <p>{{ card2 }}</p>
        <p>{{ card2desc }}</p>
        <p>Future</p>
        <img src="{{ img_name3 }}" alt="{{ card3 }}" id="{{ orient_the_card3 }}" style="width:300px;height:400px;">
        <p>{{ card3 }}</p>
        <p>{{ card3desc }}</p>
      </tr>
      </div>
  </table>
</div>

{% endblock %}