{% extends 'base.html' %}
{% block title %}Tarot App Home{% endblock %}

{% block body %}
  <h1>Tarot app welcomes you!!</h1>
  
  <div>
    <p>
  <section id="Spreads">
    <h3>Would you like to select a spread?</h3>
    <li><a href='/get_cards_function/'>Goto a 3 card spread</a></li>
    <!-- <li><a href="/users">View all users</a></li> -->
  </ul>
  </section>
    </p>
</div>
    <p>
      <!-- <h3>Sign-in!</h3>
<form action="/login" method="POST">
  <p>
    Email <input type="text" name="email" required>
  </p>

  <p>
    Password <input type="password" name="password" required>
  </p>

  <p>
    <input type="submit">
  </p>
</form> -->
  <script src="/static/ajax.js"></script>
{% endblock %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skills Assessment 5</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
  </head>
  <body>
   
  </body>
</html>